html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.carddiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.cardimg {
  border: 4px solid gray; 
  border-radius: 2px;    
  width: 300px;
  height: 300px;
}

.bg-white {
  background-color: white;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.text-gray-700 {
  color: #4a5568;
}

.mt-2 {
  margin-top: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-gray-500 {
  color: #a0aec0;
}

.mt-4 {
  margin-top: 1rem;
}

.bg-green-500 {
  background-color: #48bb78;
}

.text-white {
  color: white;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.hover\:bg-green-600:hover {
  background-color: #38a169;
}

.Apps {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.scratchedDiv {
  background-color: rgb(248, 239, 239);
  height: 220px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.congatsbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scratchCardContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 300px;
}
.scratchCardWrapper {
  border: 4px solid gray;
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.typewriter {
  overflow: hidden;
  text-align: center;
  border-right: 0.15em solid black;
  white-space: nowrap;
  animation: typewriter 4s steps(25) 0.5s 1 normal both, blink 1s infinite step-end alternate;
}
.gradient-text {
  background: linear-gradient(90deg, #f2870e, #ec1866); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes typewriter {
  0% { width: 0ch; }
  4%, 8% { width: 1ch; }
  12%, 16% { width: 2ch; }
  20%, 24% { width: 3ch; }
  28%, 32% { width: 4ch; }
  36%, 40% { width: 5ch; }
  44%, 48% { width: 6ch; }
  52%, 56% { width: 7ch; }
  60%, 64% { width: 8ch; }
  68%, 72% { width: 9ch; }
  76%, 80% { width: 10ch; }
  84%, 88% { width: 11ch; }
  92%, 96% { width: 12ch; }
  100% { width: 25ch; }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: black; }
}


 /* Footer */
 
.mainfooter {
  padding: 20px;
  padding-top: 100px;
  background-color: rgb(251, 208, 75);
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px; 
  padding-left: 150px;
}

.social-icons {
  display: flex;
  gap: 10px;
  padding-right: 150px;
}

.icon {
  color: rgb(251, 208, 75);
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  font-size: 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.footer-column li {
  margin-bottom: 5px;
}
.footertext{
  color: #646464;
  
}
.iconcolor{
  color: black;
}
.subscribe-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.black-text {
  color: black;
}

.grey-text {
  color: grey; 
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 80px;
}

.input-group {
  position: relative;
}

.search-input, .register-input {
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.search-input {
  width: 380px; 
}

.register-input {
  position: absolute;
  right: 0;
  width: 100px;
  background-color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: black; 
  font-weight: bold;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.divider {
  border: none;
  border-top: 1px solid grey;
  margin: 10px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
  color: black; 
}

.left-text {
  color: black; 
}

.right-text {
  color: white; 
  font-weight: bold;
  font-size: 25px;
}


/* Header Styles */

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 241, 241, .52);;
  padding: 0 20px;
}

.top-left {
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.top-left > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.icons {
  margin-right: 10px;
  color: #fbd04b;
}
.mailicon{
  padding-top: 6px;
  color: #ffbf00;
}

.language {
  border: none;
  background-color: transparent;
  color: #646464;
}

.number,
.contact {
  display: flex;
  align-items: center;
  color: #646464;

}

.top-right {
  display: flex;
  align-items: center;
  padding-right: 130px;
}

.top-right ul {
  display: flex;
  list-style: none;
  padding: 0;

}

.top-right ul li {
  margin-right: 20px;
  color: #646464;
  cursor: pointer;
}

.top-right a.search {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #fbd04b;
  padding: 5px 10px;
  
}
.dropdown-menu {
  display: none;
  position: absolute;
  width: 300px;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.solution{
  width: 250px;
}
.support{
  width: 150px;
}
.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.contact-button {
  background-color: #fff;
  border-radius: 250px 0px 250px 0px;
  height: 30px;
}

.contact-button:hover {
  background-color: grey;
  border-radius: 50px 0 50px 0;
}
.searchheader{
color: white;
padding: 10px;
font-size: 20px; 
display: flex;
align-items: center;
justify-content: center;
}
.headcolor{
  color: #646464;
  font-size: 20px;
}
.headcolor:hover{
  color: white;
}
.search-box {
  position: fixed;
  top: 12%;
  left: 77.3%;
  transform: translate(-50%, -50%);
  width: 350px;
  border: #f1f1f1;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}

.search-content {
  display: flex;
  align-items: center;
  width: 387px;
}

.search-input-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; 
  margin: 0; 
}

.search-btn {
  padding: 10px 20px;
  background-color: #fbd04b;
  border: none;
  border-radius: 0 4px 4px 0; 
  cursor: pointer;
  margin: 0; 
}

.close-btn {
  padding: 0px 10px;
  background-color: #646464;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}
header {
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: rgba(241, 241, 241, 0.9); 
}



/* Bottom header styles */
.bottom-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #fbd04b;
}

.left-bottom ul.navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 280px; 
}

.left-bottom ul.navbar-nav li.nav-item {
  position: relative;
  margin-right: 20px;
}

.left-bottom ul.navbar-nav li.nav-item a.nav-link {
  text-decoration: none;
  padding: 10px;
}
header {
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: rgba(241, 241, 241, 0.9); 
}

/* Ensure the confetti container has a higher z-index */
.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  pointer-events: none;
}